.nama_kamar{
    background: #f1f1f1;
    padding: 10px;
    color: #616161;
    height: 40px;
    width: 100%;
    border-radius: 5px;
}
.buttons{
    width: 100%;
    text-align: right;
}
.batal{
    float: right;
    margin: 10px 10px; 
    color: #636262;
}
.konfirmasi{
    float: right;
    margin: 10px 10px;
    color: #00BB47;
}
.konten{
    padding: 10px;
}
.modal-wrapper{
    height: 300px !important;
}