h4{
    color: #00BB47;
}
small{
    font-size: 14px;
    color: #797979;
}
.myinput{
    width: 90% !important;
    padding: 4px 10px;
    font-size: 16px;
}
.btn{
    background: #00BB47;
    height: 40px;
    padding: 10px 0px;
}
.div_bahasa{
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 6px 6px;
    width: 30%;
}
.div_bahasa img{
    width: 20px;
    margin-right: 10px;
}
.pilihan{
    padding: 8px 0px;
}
.pilihan_lain{
    border-top: 1px solid #dadada;
    padding: 8px 0px;
}
.countdown{
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin: 10px 0px;
    color: #505050;
}
.login_google{
    
}