.icon{
    color: #fff !important;
}
ion-tab-button {
    --color-selected: #075f28 !important
}
.tab-item-active {
    --color-selected: #075f28 !important
}
.tab-selected{
    color: #075f28 !important
}
.active{
    color: #075f28 !important
}