<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <!-- <ion-back-button (click)="myBackButton()"></ion-back-button> -->
      </ion-buttons>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-content>
    <div class="padding">
      <ion-row>
        <h4>HOMESTAY81</h4><br>
      </ion-row>
      <ion-row>
        <small>Reset Password</small>
      </ion-row>
    </div>
    <br><br>
    <div class="padding">
      <div class="form_profile">
        <ion-item *ngIf="!isRequestedOTP" >
            <ion-icon name="person" class="icon_input"></ion-icon>
            <input placeholder="{{placeholder_username}}" type="tel" class="myinput" [(ngModel)]="hp">
          </ion-item>
          <ion-item *ngIf="isRequestedOTP" >
            <ion-icon name="lock" class="icon_input"></ion-icon>
            <input placeholder="{{placeholder_otp}}" type="number" class="myinput" [(ngModel)]="otp" max="5">
          </ion-item>


          <ion-item *ngIf="isOTPTrue" >
            <ion-icon name="lock" class="icon_input"></ion-icon>
            <input placeholder="Password" type="number" class="myinput" [(ngModel)]="password" max="5">
          </ion-item>
          <ion-item *ngIf="isOTPTrue" >
            <ion-icon name="lock" class="icon_input"></ion-icon>
            <input placeholder="Confirm Password" type="number" class="myinput" [(ngModel)]="password2" max="5">
          </ion-item>
          
  
          <ion-row *ngIf="!isRequestedOTP">
            <div class="btn" (click)="requestOtp()">{{placeholder_login}}</div>
          </ion-row>
          <ion-row *ngIf="isRequestedOTP">
            <div class="btn" (click)="login()">Login</div>
          </ion-row>
      </div>
    </div>
  </ion-content>
  